/* Body */
body {
    min-height: 100vh;
    display: grid;
}
/********HEADER**********/
.navbar-brand {
    font-size: 1.3em !important;
    font-weight: bold !important;
    color: black;
}
.nav-pills li a {
    color: black;
}
.header {
    z-index: cover;
}
.left_header {
    float: left;
}

/*Header Background*/

.jumbotron {
    background-size: cover;
    text-align: center;
    background-color: #cccccc;
    height: 500px;
    background-image: url("../images/header.jpg");
}
/* User Details required informations */
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 38px !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow,
.select2-container .select2-selection--single {
    height: auto !important;
    bottom: 1px;
}
/* work experience */
#work_experience {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/* required color */
.required_color {
    color: red;
}
/* End User Details Informations */
/* Footer */
footer ul li a {
    color: #fff;
}
footer ul li:hover a {
    text-decoration: none;
}
.copy-right {
    background: #414141;
}
.copy-right span {
    display: block;
    text-align: center;
    padding: 1em 0;
}
